// colors
$dark-blue: #23303E;
$light-blue: #3EBFFF;
$dark-gray: #47525C;
$light-green: #90D4C5;
$dark-green: #2c7566;
$white: #ffff;
$light-yellow: #FFE985;
$light-red: #FFBFB8;
$off-white: #F3F9FC;

// fonts
$text-size-100: 1.6rem;
$text-size-200: 2rem;
$text-size-300: 2.4rem;
$text-size-400: 3.2rem;
$text-size-500: 4rem;
$text-size-600: 6.4rem;

//familys fonts
$text-family-primary: "Fraunces", serif;
$text-family-secundary: "barlow", sans-serif;

//space
$space: .8rem;
